# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compilation files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Logs
*.log

# Synopsys DC objects
*.mr
*.svf
*.syn
ARCH/
ENTI/

# Questasim artifacts
work/
*.wlf
input.txt
output.txt

